<h2><%= t(:editing, :default => 'Editar') %> <%= t(:emprestimo, :default => "emprestimo") %></h2>

<%= render 'form' %>

<%= link_to t(:back, :default => "Voltar"), emprestimos_path, :class => "btn" %>