<html>
<div class="tab-content">
  <div class="row-fluid">
    <div class="span4">

    </div>

    <div class="span4">
      <h1>Bem vindo a Biblioteca Daniell. Teste realizado como parte integrante do processo seletivo para a empresa
        ELife</h1>
      <br>
      <br>
      <h1>Login</h1>
      <%= link_to "sign in", new_user_session_path %>
    </div>

    <div class="span4">

    </div>
  </div>
</div>
</html>